@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
  background: #222222;
  font-family: 'Montserrat', sans-serif;
}

.vehicle, .locationSharingNotice, .notice, .location-override, .location-option {
    margin: 4px;
    padding: 4px;
    background: #cccccc;
    vertical-align:center;
    overflow:auto;

}
.location-override>span {
    font-weight: bold;
}
.sub {
    margin-left:24px;
    padding:12px;
    font-weight: bold;
}
#route-list, #footer-menu {
    padding:6px;
    padding-left:0;
}
.route-marker, #footer-menu>a {
    margin: 4px;
    padding: 4px;
    background: #cccccc;
}
#footer-menu>a {
    color:#000;
    font-weight:bold;
    text-decoration:none;
}
.locationSharingNotice {
    margin-top:400px;
}

.coming {
    font-weight:bold;
}
.going {
    color:#555;
}
.route-10, .route-11, .route-13, .route-15, .route-34, .route-36, .route-101, .route-102 {
    background: #66cc33;
}
.route-BSL {
    background: #ff9933;
}
.route-MFL {
    background: #0000df;
}
.route-NHSL {
    background: #a033b3;
}
.vehicle {
}
.route-identifier {
    float: left;
    font-size: 36pt;
    margin:5px;
    min-width: 1.5em;
    height: auto;
    font-weight: bold;
}
.route-stop-name .route-distance {
    font-weight: normal;
}

.detour-header {
    font-weight: bold;
}
.detour-info {
    padding:4px;
    background:#ffffff;
    border: 2px #000000 solid;
    margin: 4px;
}
.detour-data {
    margin: 4px;
}
.detour-data-header {
    font-weight: bold;
}
.head {
    font-weight:bold;
}
